name: Build Run - AMD64 Build & Push to Harbor

on:
  workflow_dispatch:
  
env:
  REGISTRY: docker.io
  PROJECT: hugomcruz
  APP_NAME: bw-echo
  FULL_IMAGE: docker.io/hugomcruz/bw-echo
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Harbor
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}


      - name: Build and push (AMD64 only)
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
            ${{ env.FULL_IMAGE }}:build-${{ github.run_number }}
            ${{ env.FULL_IMAGE }}:latest
